@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

@media screen and (max-width: 1125px) {
  body {
    font-size: 16px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .App {
    text-align: center;
  }

  /* Hero section */

  .mobile-banner-container {
    height: 18rem;
  }

  .mobile-banner {
    height: 100%;
    overflow: hidden;
  }

  .img-mobile-banner {
    width: 100%;
    display: inline;
  }

  .img-desktop-banner {
    display: none;
  }

  .cards-wrapper {
    position: relative;
    margin-left: 5%;
    width: 90%;
    height: 17.5rem;
    top: -11rem;
  }

  .card-back {
    position: relative;
    left: 1rem;
  }

  .card-back-number {
    position: relative;
    top: -4.3rem;
    right: -13.9rem;
    color: rgb(255, 255, 255);
    font-size: 10px;
  }

  .card-front {
    position: relative;
    top: -12.2rem;
    left: -1.7rem;
  }

  .card-front-size {
    max-width: 16rem;
  }

  .card-back-size {
    max-width: 16rem;
  }

  .card-front-wrapper {
    position: relative;
    height: 8rem;
    width: 100%;
    top: 8.4rem;
    right: -1.8rem;
  }

  .card-front-logo {
    position: relative;
    top: 0.5rem;
    right: 0.3rem;
    height: 1.8rem;
  }

  .card-front-name {
    position: relative;
    top: 4.5rem;
    right: 6rem;
    color: white;
    font-size: 10px;
  }

  .card-front-number {
    position: relative;
    top: 4rem;
    right: 3.6rem;
    width: 10rem;
    color: white;
    font-size: 19px;
  }

  .card-front-exp {
    position: relative;
    top: 3.3rem;
    right: -3.6rem;
    color: white;
    font-size: 10px;
  }

  /* Input section */

  .error-message {
    color: rgb(255, 89, 89);
    font-size: 13px;
    display: none;
  }

  .error-message-exp {
    color: rgb(255, 89, 89);
    font-size: 13px;
    margin-left: 1.2rem;
    display: none;
  }

  .error-message-cvc {
    color: rgb(255, 89, 89);
    font-size: 13px;
    margin-left: 0.1rem;
    display: none;
  }

  input:invalid[focused="true"] ~ span {
    display: flex;
  }

  input:invalid[focused="true"] {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
  }

  .confirm-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 3rem;
    border-radius: 7px;
    margin-top: 2rem;
  }

  .confirm-btn:hover {
    cursor: pointer;
    background-color: rgb(179, 179, 179);
    color: black;
    box-shadow: 5px 5px 5px rgb(88, 88, 88);
  }

  .input-form {
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
  }

  .wrapper {
    width: 90%;
    margin: 1rem;
    margin-bottom: 3rem;
  }

  .card-expiry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
    height: 5rem;
  }

  .text-card-expiry {
    width: 12.5rem;
    height: 4rem;
  }

  .cvc-container {
    margin-left: 0.5rem;
    height: 4rem;
  }

  .cvc-label {
    display: flex;
    max-width: 10rem;
  }

  .cvc-input {
    width: 96%;
    height: 2.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    border: 1px;
    border-style: solid;
    color: rgb(155, 155, 155);
    border-color: rgb(197, 197, 197);
  }

  .exp-label {
    width: 9rem;
  }

  .exp-input {
    margin-left: -1.2rem;
    margin-top: 0.5rem;
  }

  .exp-input-mm {
    width: 5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    border: 1px;
    border-style: solid;
    color: rgb(155, 155, 155);
    border-color: rgb(197, 197, 197);
  }

  .exp-input-yy {
    width: 5rem;
    height: 2.5rem;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    border: 1px;
    border-style: solid;
    color: rgb(155, 155, 155);
    border-color: rgb(197, 197, 197);
  }

  .name-container {
    width: 100%;
    height: 4rem;
    text-align: left;
  }

  .name-input {
    width: 98%;
    height: 2.5rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    border: 1px;
    border-style: solid;
    color: rgb(155, 155, 155);
    border-color: rgb(197, 197, 197);
  }

  .number-container {
    width: 100%;
    height: 4rem;
    text-align: left;
    margin-top: 2rem;
  }

  .number-input {
    width: 98%;
    height: 2.5rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    border: 1px;
    border-style: solid;
    color: rgb(155, 155, 155);
    border-color: rgb(197, 197, 197);
  }
}

@media screen and (min-width: 1126px) {
  body {
    font-size: 16px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
  }

  .App {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  #root {
    width: 100%;
    height: 100vh;
  }

  /* Hero section */

  .img-desktop-banner {
    height: 100%;
  }

  .mobile-banner-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .img-mobile-banner {
    width: 100%;
    display: none;
  }

  .mobile-hero {
    height: 100%;
    width: 30%;
  }

  .mobile-banner {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .cards-wrapper {
    position: relative;
    width: 2rem;
    height: 10rem;
  }

  .card-back {
    position: relative;
    width: 10rem;
    left: -14rem;
    top: 5rem;
  }

  .card-back-number {
    position: relative;
    top: 7.3rem;
    right: -15.5rem;
    color: rgb(255, 255, 255);
    font-size: 14px;
  }

  .card-front {
    position: relative;
    top: 0rem;
    margin-top: -40rem;
    left: -19em;
    width: 27rem;
  }

  .card-front-size {
    max-width: 25rem;
  }

  .card-back-size {
    max-width: 25rem;
  }

  .card-front-wrapper {
    position: relative;
    height: 15rem;
    width: 100%;
    top: 19rem;
    right: 0rem;
  }

  .card-front-logo {
    position: relative;
    top: -2.5rem;
    right: -2.4rem;
    height: 2.8rem;
  }

  .card-front-name {
    position: relative;
    top: 4rem;
    right: 7.3rem;
    color: white;
    font-size: 14px;
  }

  .card-front-number {
    position: relative;
    top: 3rem;
    right: 2.6rem;
    color: white;
    font-size: 26px;
    letter-spacing: 3px;
  }

  .card-front-exp {
    position: relative;
    top: 2.5rem;
    right: -9.1rem;
    color: white;
    font-size: 14px;
  }

  /* Input section */

  .confirm-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 3rem;
    border-radius: 7px;
    margin-top: 2rem;
  }

  .error-message {
    color: rgb(255, 89, 89);
    font-size: 13px;
    display: none;
  }

  .error-message-exp {
    color: rgb(255, 89, 89);
    font-size: 13px;
    margin-left: 1.2rem;
    display: none;
  }

  .error-message-cvc {
    color: rgb(255, 89, 89);
    font-size: 13px;
    margin-left: 0.1rem;
    display: none;
  }

  input:invalid[focused="true"] ~ span {
    display: flex;
  }

  input:invalid[focused="true"] {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
  }

  .confirm-btn:hover {
    cursor: pointer;
    background-color: rgb(179, 179, 179);
    color: black;
  }

  .input-form {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .wrapper {
    width: 45%;
    margin: 1rem;
    margin-bottom: 3rem;
  }

  .card-expiry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
    height: 5rem;
  }

  .text-card-expiry {
    width: 12.5rem;
    height: 4rem;
  }

  .cvc-container {
    margin-left: 0.5rem;
    height: 4rem;
  }

  .cvc-label {
    display: flex;
    max-width: 10rem;
    margin-left: 0.1rem;
  }

  .cvc-input {
    width: 96%;
    height: 2.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    border: 1px;
    border-style: solid;
    color: rgb(155, 155, 155);
    border-color: rgb(197, 197, 197);
  }

  .exp-label {
    width: 9rem;
  }

  .exp-input {
    margin-left: -1.2rem;
    margin-top: 0.5rem;
  }

  .exp-input-mm {
    width: 5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    border: 1px;
    border-style: solid;
    color: rgb(155, 155, 155);
    border-color: rgb(197, 197, 197);
  }

  .exp-input-yy {
    width: 5rem;
    height: 2.5rem;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    border: 1px;
    border-style: solid;
    color: rgb(155, 155, 155);
    border-color: rgb(197, 197, 197);
  }

  .name-container {
    width: 100%;
    height: 4rem;
    text-align: left;
  }

  .name-input {
    width: 98%;
    height: 2.5rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    border: 1px;
    border-style: solid;
    color: rgb(155, 155, 155);
    border-color: rgb(197, 197, 197);
  }

  .number-container {
    width: 100%;
    height: 4rem;
    text-align: left;
    margin-top: 2rem;
  }

  .number-input {
    width: 98%;
    height: 2.5rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    border: 1px;
    border-style: solid;
    color: rgb(155, 155, 155);
    border-color: rgb(197, 197, 197);
  }
}
